<% provide(:title, 'Grant')%>
<main role="main" class="container">
    <h1>
     </b><%= @grant.title%>
    </h1>

    <p>
        <%= @grant.description.description%>
    </p>

    <p>
    <b>release_date: </b><%= @grant.release_date%>
    </p>

    <p>
    <b>expired_date: </b><%= @grant.expired_date%>
    </p>

    <p>
    <b>document_number: </b><%= @grant.document_number%>
    </p>

    <p>
    <b>document_type: </b><%= @grant.document_type%>
    </p>

    <p>
    <b>activity_code: </b><%= @grant.activity_code%>
    </p>

    <p>
    <b>clinical_trails: </b><%= @grant.clinical_trails%>
    </p>

    <p>
    <b>url: </b><%= link_to(@grant.url)%>
    </p>
</main><!-- /.container -->